.container {
    grid-template-columns: 250px 1fr 820px;
}


.head-text{
    margin: 0.1rem 0 0.5rem 1rem;
}

.head-text h2{
  font-size: 25px;
  color: #f5be1e;
  text-shadow: 1px 1px 2px black;

}

.head-text p{
      color: #6d6969;
      font-size: 13px;

}


.upload-section {
    
    background-color: #ced9df;
    display: flex;
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
}

.upload-content {
      border: 2px dashed rgb(163, 163, 163);
      border-radius: 12px;
      padding: 3rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: center;
      background: rgb(217, 217, 217);

}

.upload-box {
      padding: 1rem;
    background-color: #d9d9d9;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
}


.upload-card {
      border-radius: 1.5rem;
    background-color: #9db2bf;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    width: 100%;
}

  .button, .button-delete{
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
  }

.upload-box button{
      background-color: #9db2bf;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
}

.button-delete {
      background: #ce0909 !important;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      color: white;
}


button:hover {
      box-shadow: 0 0 5px rgb(30, 50, 69);
      border: 1px solid rgb(30, 50, 69);
    background-color: #f5be1e;
    color: black;
}

.upload-box .button-delete:hover {
    background-color: #d75252;
}