.container{
        grid-template-columns: 250px 1fr 820px;
}

.dashboard-section {
    background-color: #ced9df;
    display: flex;
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    padding-right: 0.7rem;
}


.dashboard-card {
   border-radius: 1.5rem;
    background-color: #9db2bf;
    display: flex;
    flex-direction: column; 
    width: 100%;

}

.dashboard-card p{
    padding-top: 1rem;
    font-size: 15px;
    padding-left: 1rem;
}


.dashboard-card h1{
    margin: 0.1rem 0 0.5rem 1rem;
    font-size: 25px; 
    color: #f5be1e;
    text-shadow: 1px 1px 2px black;
}

.stats{
    display: flex;
    gap: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.card{
    background: rgb(217, 217, 217);
    border: none;
    padding: 15px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.634);  
    width: 180px;
}



.card h3{
    margin: 0;
    font-size: 12px;
    font-weight: 100;
    }

.card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.activity-box {
    background: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;  /* top right bottom left */
    border: 1px solid rgba(30, 50, 69, 0.506);
}

.activity-box h2{
    font-size: 18px;
}

.activity-card {
    background: #d7dcdf;
    padding: 15px;
    border-radius: 10px;
    margin-top: 0.5rem;
    box-shadow: 0 0px 2px rgb(30, 50, 69);
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.activity-card:hover{
    box-shadow: 0 0 6px rgb(30, 50, 69);
}


.company {
    margin-top: 2rem;
}