.search-bar input{
    background: #b1c3cd;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.8rem;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 2px rgb(30, 50, 69);
}

.search-bar button{
    border: none;
    background-color: white;
    padding: 0.3rem 0.8rem;
    margin-right: 0.3rem;
    border: 1px solid rgb(30, 50, 69);
    font-size: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;

    transition: box-shadow 0.3s ease;
}

.search-bar button:hover{
    box-shadow: 0 0 8px rgb(30, 50, 69);}

.list-card{
    background-color: #b1c3cd;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px rgb(53, 65, 79);
}   

table{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-collapse: collapse;;
}

th, td{
    text-align: left;
    padding-left: 1.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(67, 99, 123);
}

.btn { 
    cursor: pointer; 
    padding: 6px 10px; 
    border-radius: 5px; 
    border: none; 
    color: white; }
.accept { background: #33a462; border: 1px solid rgb(30, 50, 69);}
.reject { background: #be3f30; border: 1px solid rgb(30, 50, 69);}

button.btn.view-resume {
    background-color: #f5be1e; 
    color: rgb(30, 50, 69); 
    font-weight: bold;
    padding: 5px 10px; 
    border: 1px solid rgb(30, 50, 69); 
    border-radius: 4px; 
    cursor: pointer; 
    transition: box-shadow 0.3s ease;
}
button.btn.view-resume:hover {
    box-shadow: 0 0 8px rgb(30, 50, 69);
}
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #333;
}