

/* Sidebar */
.sidebar {
  font-family: "montserrat", sans-serif;
  background: linear-gradient(#ced9df 0%, #9db2bf 50%, #ced9df 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 2.7rem;
  width: auto;
  display: block;
}

.pic {
  text-align: center;
}

.pic img {
  margin-top: 2rem;
  width: 115px;
  border-radius: 50%;
  box-shadow: 0 0 3px black, 0 0 5px black;
}

.pic h2 {
  color: rgb(30, 43, 60);
  font-size: 16px;
  margin-top: 10px;
  font-weight: bolder;
}

.pic p {
  color: rgb(30, 43, 60);
  font-size: 12px;
  font-weight: 300;
}

/* Menu */
.menu {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #1e2b3c;
  font-size: 12px;
  padding: 10px 15px ;
  margin: 5px 0;
  border-radius: 8px;
}

.menu a.active,
.menu a:hover {
  background-color: #9db1be;
  box-shadow: 0 0 2px black, 0 0 6px black;
  font-weight: bolder;
}




/* profile menu sec */
.accmenu {
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

.accmenu i {
    margin-right: 0.7rem;
} 

.accmenu a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(30, 43, 60);
    padding: 10px 15px;
    margin: 5px 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 15px;
}

.accmenu a.active,
.accmenu a:hover {
    color: #eaf0f3;
    background-color: #9db2bf;
    font-weight: bolder;
    text-shadow: 0 0 4px black;
    box-shadow: 0px 0px 2px #333;
}