* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #eef2f6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 350px;
  width: 100%;
  height: 100vh;
  background: #ced9df;
}
/* Main Content */
.main-content {
  padding: 20px;
  background-color: #ced9df;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
}

.search-bar button {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.companies {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company {
  display: flex;
  align-items: center;
  background-color: #9db2bf;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.company .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.optum { background: #f76c38; }
.genpact { background: #1f75cb; }
.teleperformance { background: #9152cc; }
.foundever { background: #556ee6; }
.exl { background: #f97316; }

p{
  font-size: 12px;
}
h3{
  font-size: 15px ;
}

/* Right Panel */
.right-panel {
  background: linear-gradient(#9db2bf 0%, #ced9df 50%, #9db2bf 100%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 0 0 3px gray, 0 0 12px black;
}

.newscard {
  border-radius: 0.8rem;
  background-color: #ced9df;
  padding: 0.5rem 1rem;
}

.card img {
  padding-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}