* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway", sans-serif;
}

body {
    background-color: #eef2f6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    user-select: none;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 820px;
    width: 100%;
    height: 100vh;
    background: #ced9df;
}


.head-text{
    margin: 0.1rem 0 0.5rem 1rem;
}

.head-text h2{
  font-size: 25px;
  color: #f5be1e;
  text-shadow: 1px 1px 2px black;

}

.head-text p{
      color: #6d6969;
      font-size: 13px;

}


.upload-section {
    
    background-color: #ced9df;
    display: flex;
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
}

.upload-content {
      border: 2px dashed rgb(163, 163, 163);
      border-radius: 12px;
      padding: 3rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: center;
      background: #d9d9d9;

}
.upload-box i{
      font-size: 2rem;
      color: rgb(123, 123, 123);
        margin-bottom: 0.5rem;                          
}

.upload-box h3{
    color: rgb(123, 123, 123);
      font-size: 20px;
      font-weight: bold;
}   
.upload-box p{
      color: rgb(123, 123, 123);
      font-size: 12px;
      margin-top: 0.3rem;
}

.upload-box {
    background-color: #d9d9d9;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
}
.upload-content button {
      font-size: 10px;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      background: #f9c400;
        border: 1px solid black;
      border-radius: 2rem;
      cursor: pointer;
}
.current-resume {
      margin-bottom: 1rem;
      margin-left: 1rem;
        margin-right: 1rem;
      display: flex;
      justify-content: space-between;
      background: #bfbfbf;
      padding: 15px;
      border-radius: 10px;
}
.current-resume button {
      margin-left: 10px;
      padding: 6px 14px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
}
/* .view-btn { background: #dcdcdc; }
.download-btn { background: #b4d6ff; }
.delete-btn { background: #ffb3b3; } */

.button button {
      background-color: #ced9df;
      cursor: pointer;
}

.upload-card {
      border-radius: 1.5rem;
    background-color: #9db2bf;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    width: 100%;
}




/* modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: white;
    width: 90%;
    height: 90%;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .modal-content iframe {
    flex: 1;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
  }
