* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway", sans-serif;
}

body {
    background-color: #eef2f6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    user-select: none;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 820px;
    width: 100%;
    height: 100vh;
    background: #ced9df;
}


.head-text{
    margin: 0.1rem 0 0.5rem 1rem;
}

.head-text h2{
  font-size: 25px;
    color: #f5be1e;
    text-shadow: 1px 1px 2px black;
    
}

.head-text p{
      color: #6d6969;
      font-size: 13px;

}



.security-section {
    background-color: #ced9df;
    display: flex;
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
}

.security-card {
    border-radius: 1.5rem;
    background-color: #9db2bf;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    width: 100%;
}

.section{
    background-color: rgb(217, 217, 217);
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(30, 43, 60);
}

.section h2{
    font-size: 15px;
}

.section p {
    font-size: 10px;
}

button {
    font-size: 10px;
    margin-top: 0.7rem;
    padding: 0.3rem 0.7rem;
    border: 1px solid rgb(30, 50, 69);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}

button:hover {
          box-shadow: 0 0 8px rgb(30, 50, 69);

}

.change-password {
    background-color: #f5be1e;
    color: black;

}

.enable-2fa {
    background-color: #6c757d;
    color: black;
}

.delete-session {
    background-color: #ced9ce;
    color: rgb(169, 4, 4);
    float: right;
}

.session {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(191, 191, 191);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 10px;
}